<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Board Modify Page</h1>

        <form action="/board/modify" method="post">

            <!--페이지 번호  -->
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}" >
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}" >


            <div class="form-group">
                <label>Bno</label>
                <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly >
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" >
            </div>
            <div class="form-group">
                <label >Content</label>
                <textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label >Writer</label>
                <input type="text" class="form-control" name="writereEmail" th:value="${dto.writereEmail}" readonly>
            </div>
            <div class="form-group">
                <label >RegDate</label>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <div class="form-group">
                <label >ModDate</label>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

        </form>

        <button type="button" class="btn btn-primary modifyBtn">Modify</button>

        <button type="button" class="btn btn-info listBtn">List</button>

        <button type="button" class="btn btn-danger removeBtn">Remove</button>
  
        <script th:inline="javascript">
			//JQuery에서 위에서 선언된 form 객체를 바인딩합니다
            var actionForm = $("form"); //form 태그 객체
        
            //해당 폼에서 특정 CSS 클래스를 지정해서, 클릭이 발생하면 콜백함수를 지정하고
            //이벤트를 수행하도록 해볼게요
            $(".removeBtn").click(function(){
				//위에서 지정한 폼객체(actionForm)의 속성을 조정해볼게요
				//폼객체이기 때문에 JQuery에 보면 많은 속성과 메서드가 존재하는데
				//지금은 속성 메서드 attr()을 이용해서 우리가 폼속성에 주는 값을 변경해 볼게요
                actionForm
                .attr("action", "/board/remove")
                .attr("method","post");

                actionForm.submit();

            });
            //수정버튼 이벤트 등록 및 수행 작업
            $(".modifyBtn").click(function() {

                if(!confirm("수정하시겠습니까?")){
                    return ;
                }

                actionForm
                    .attr("action", "/board/modify")
                    .attr("method","post")
                    .submit();
            });//모디파이 끝

            $(".listBtn").click(function() {

                //폼태그내의 input 태그 중 특정 태그를 찾는 방법
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty(); //form 태그의 모든 내용을 지우고

                //폼 submit시 파라미터 전달 메서드 append()지정
                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);


                actionForm
                    .attr("action", "/board/list")
                    .attr("method","get");

                actionForm.submit();

            })

        </script>


    </th:block>

</th:block>
